{
  "presets": [
    [ "@babel/preset-env", {
      "targets": {
        "node": "12"
      }
    } ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-optional-chaining"
  ],
  "sourceMaps": "inline",
  "sourceType": "unambiguous",
  "inputSourceMap": false
}
